page-price-filter-choise {
    .backGroundGray{
        background-color:  #f0f0f0  !important
    }
    .sItemList .label {
        margin:0px;
    } 
   .sItemList.item-block {
        min-height: 2em;       
   }

}
